# Ex3: Spark DataFrames - walmart_stock

There are some basic questions about some stock market data, in this case Walmart Stock from the years 2012-2017. 
#### Use the walmart_stock.csv file to Answer and complete the  tasks below!

#### Start a simple Spark Session

In [1]:
import findspark
findspark.init()
from pyspark import SparkContext
from pyspark.sql import SparkSession
sc = SparkContext()
spark = SparkSession(sc)

#### Load the Walmart Stock CSV File, have Spark infer the data types.

In [2]:
data = spark.read.csv('walmart_stock.csv',inferSchema=True,header=True)

#### What are the column names?

In [3]:
data.columns

['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Adj Close']

#### What does the Schema look like?

In [4]:
data.printSchema()

root
 |-- Date: string (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: integer (nullable = true)
 |-- Adj Close: double (nullable = true)

#### Print out the first 5 rows.

In [5]:
data.show(5)

+----------+------------------+---------+---------+------------------+--------+------------------+
|      Date|              Open|     High|      Low|             Close|  Volume|         Adj Close|
+----------+------------------+---------+---------+------------------+--------+------------------+
|2012-01-03|         59.970001|61.060001|59.869999|         60.330002|12668800|52.619234999999996|
|2012-01-04|60.209998999999996|60.349998|59.470001|59.709998999999996| 9593300|         52.078475|
|2012-01-05|         59.349998|59.619999|58.369999|         59.419998|12768200|         51.825539|
|2012-01-06|         59.419998|59.450001|58.869999|              59.0| 8069400|          51.45922|
|2012-01-09|         59.029999|59.549999|58.919998|             59.18| 6679300|51.616215000000004|
+----------+------------------+---------+---------+------------------+--------+------------------+
only showing top 5 rows

#### Use describe() to learn about the DataFrame.

In [6]:
data.describe().show()

+-------+----------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+
|summary|      Date|              Open|             High|              Low|            Close|           Volume|        Adj Close|
+-------+----------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+
|  count|      1258|              1258|             1258|             1258|             1258|             1258|             1258|
|   mean|      null| 72.35785375357709|72.83938807631165| 71.9186009594594|72.38844998012726|8222093.481717011|67.23883848728146|
| stddev|      null|  6.76809024470826|6.768186808159218|6.744075756255496|6.756859163732991|  4519780.8431556|6.722609449996857|
|    min|2012-01-03|56.389998999999996|        57.060001|        56.299999|        56.419998|          2094900|        50.363689|
|    max|2016-12-30|         90.800003|        90.970001|            89.25|        90.470001|         80898100|84.91421600000001|
+-------+----------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+

#### There are too many decimal places for mean and stddev in the describe() dataframe. Format the numbers to just show up to two decimal places. Pay careful attention to the datatypes that .describe() returns, we didn't cover how to do this exact formatting, but we covered something very similar. [Check this link for a hint](http://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.Column.cast)

In [15]:
from pyspark.sql.functions import format_number,col

In [13]:
describe_data = data.describe()

In [23]:
describe_data.select('summary',(format_number(col('Date').cast('float'),2)).alias('Date'),
                    (format_number(col('High').cast('float'),2)).alias('High'),
                     (format_number(col('Low').cast('float'),2).alias('Low')),
                     (format_number(col('Close').cast('float'),2).alias('Close')),
                     (format_number(col('Volume').cast('float'),2).alias('Volume')),
                     (format_number(col('Adj Close').cast('float'),2).alias('Adj Close'))).show()

+-------+--------+--------+--------+--------+-------------+---------+
|summary|    Date|    High|     Low|   Close|       Volume|Adj Close|
+-------+--------+--------+--------+--------+-------------+---------+
|  count|1,258.00|1,258.00|1,258.00|1,258.00|     1,258.00| 1,258.00|
|   mean|    null|   72.84|   71.92|   72.39| 8,222,093.50|    67.24|
| stddev|    null|    6.77|    6.74|    6.76| 4,519,781.00|     6.72|
|    min|    null|   57.06|   56.30|   56.42| 2,094,900.00|    50.36|
|    max|    null|   90.97|   89.25|   90.47|80,898,096.00|    84.91|
+-------+--------+--------+--------+--------+-------------+---------+

#### Create a new dataframe with a column called HV Ratio that is the ratio of the High Price versus volume of stock traded for a day.

In [37]:
data = data.withColumn('HV Ratio',col('High')/col('Volume'))
HV_Ratio = data.select('HV Ratio')

#### What day had the Peak High in Price?

In [52]:
data.orderBy(col('High').desc()).select('Date').collect()[0][0]

'2015-01-13'

#### What is the mean of the Close column?

In [54]:
data.agg({'Close':'mean'}).show()

+-----------------+
|       avg(Close)|
+-----------------+
|72.38844998012726|
+-----------------+

#### What is the max and min of the Volume column?

In [60]:
from pyspark.sql.functions import max,min

In [61]:
data.select(max('Volume'),min('Volume')).show()

+-----------+-----------+
|max(Volume)|min(Volume)|
+-----------+-----------+
|   80898100|    2094900|
+-----------+-----------+

#### How many days was the Close lower than 60 dollars?

In [63]:
data.filter(col('Close')<60).count()

81

#### What percentage of the time was the High greater than 80 dollars ?
#### In other words, (Number of Days High>80)/(Total Days in the dataset)

In [65]:
data.filter(col('High') > 80).count()/data.count()*100

9.141494435612083

#### What is the Pearson correlation between High and Volume?
#### [Hint](http://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.DataFrameStatFunctions.corr)

In [66]:
data.corr('High','Volume')

-0.3384326061737161

#### What is the max High per year?

In [80]:
from pyspark.sql.functions import year,month
import datetime

In [68]:
data.select('Date').show(1)

+----------+
|      Date|
+----------+
|2012-01-03|
+----------+
only showing top 1 row

In [78]:
data = data.withColumn('year',year(col('Date')))

In [79]:
data.groupby('year').agg({'High':'max'}).show()

+----+---------+
|year|max(High)|
+----+---------+
|2015|90.970001|
|2013|81.370003|
|2014|88.089996|
|2012|77.599998|
|2016|75.190002|
+----+---------+

#### What is the average Close for each Calendar Month?
#### In other words, across all the years, what is the average Close price for Jan,Feb, Mar, etc... Your result will have a value for each of these months.

In [81]:
data = data.withColumn('Month',month(col('Date')))

In [91]:
data.groupBy('year','Month').agg({'Close':'mean'}).orderBy(col('year').asc()).show()

+----+-----+------------------+
|year|Month|        avg(Close)|
+----+-----+------------------+
|2012|   11| 71.10952333333333|
|2012|    5|61.456363409090905|
|2012|   10| 75.30619061904761|
|2012|    2|            60.898|
|2012|    8| 73.04478265217392|
|2012|    1|        60.2354999|
|2012|    4|60.149000150000006|
|2012|    9| 74.18157921052631|
|2012|   12| 69.71100009999999|
|2012|    3|60.433636818181796|
|2012|    7| 72.40666661904763|
|2012|    6| 67.50380961904762|
|2013|   10| 74.97913104347826|
|2013|    3| 73.43649940000002|
|2013|   11| 78.97300075000001|
|2013|   12|  78.7752382857143|
|2013|    5| 77.81636368181817|
|2013|    2| 70.62315857894738|
|2013|    9|        74.4395005|
|2013|    4| 77.68954572727273|
+----+-----+------------------+
only showing top 20 rows