In [1]:
import findspark
findspark.init()

In [2]:
from pyspark import SparkContext
from pyspark.sql import SparkSession

In [3]:
sc = SparkContext(master='local',appName='Ex2')
spark = SparkSession(sc)

### 1. Đọc tập tin flights_small.csv vào data

In [4]:
data = spark.read.csv('flights_small.csv',inferSchema=True,header=True)

### 2. In schema của data. Hiển thị 3 dòng đầu data. Cho biết có bao nhiêu dòng.

In [5]:
data.printSchema()

root
 |-- year: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- day: integer (nullable = true)
 |-- dep_time: string (nullable = true)
 |-- dep_delay: string (nullable = true)
 |-- arr_time: string (nullable = true)
 |-- arr_delay: string (nullable = true)
 |-- carrier: string (nullable = true)
 |-- tailnum: string (nullable = true)
 |-- flight: integer (nullable = true)
 |-- origin: string (nullable = true)
 |-- dest: string (nullable = true)
 |-- air_time: string (nullable = true)
 |-- distance: integer (nullable = true)
 |-- hour: string (nullable = true)
 |-- minute: string (nullable = true)

In [6]:
data.show(3)

+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+
|year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+
|2014|   12|  8|     658|       -7|     935|       -5|     VX| N846VA|  1780|   SEA| LAX|     132|     954|   6|    58|
|2014|    1| 22|    1040|        5|    1505|        5|     AS| N559AS|   851|   SEA| HNL|     360|    2677|  10|    40|
|2014|    3|  9|    1443|       -2|    1652|        2|     VX| N847VA|   755|   SEA| SFO|     111|     679|  14|    43|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+
only showing top 3 rows

In [9]:
print('Số dòng :',data.count())

Số dòng : 10000

### 3. Từ data tạo một view tên flights_small

In [10]:
data.createOrReplaceTempView('flights_small')

### 4. Từ view flights_small tạo một dataframe có tên flights. Hiển thị 3 dòng đầu tiên.

In [11]:
flights = spark.sql('select * from flights_small')

In [13]:
flights_table = spark.table('flights_small')

### 5. Trong flights tạo thêm cột duration_hrs (=air_time/60)

In [23]:
flights = flights.withColumn('duration_hrs',flights.air_time/60)
flights.show(1)

+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+------------+
|year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute|duration_hrs|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+------------+
|2014|   12|  8|     658|       -7|     935|       -5|     VX| N846VA|  1780|   SEA| LAX|     132|     954|   6|    58|         2.2|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+------------+
only showing top 1 row

### 6. Lọc dữ liệu chuyến bay có distance > 2000 => long_flights1. Cho biết có bao nhiêu dòng dữ liệu thỏa điều kiện (dùng cả dataframe và sql)

In [26]:
#Dataframe
long_flights1 = flights.filter(flights.distance > 2000)
long_flights1.count()

1481

In [27]:
#sql:
query = 'select * from flights_small where distance > 2000'
long_flights1_sql = spark.sql(query)
long_flights1_sql.count()

1481

### 7. Lọc dữ liệu có air_time trong khoảng 300-600 => time_flights. Cho biết có bao nhiêu dòng dữ liệu thỏa (dataframe và sql)

In [30]:
#dataframe
time_flight = flights.filter((flights.air_time >= 300) & (flights.air_time <= 600))
time_flight.count()

440

In [32]:
#sql
query = 'select * from flights_small where (air_time >= 300) and (air_time <=600)'
time_flight_sql = spark.sql(query)
time_flight_sql.count()

440

### 8. Tạo selected1 từ flights với các cột *origin, dest, carrier*. Tạo biến điều kiện lọc thứ nhất filterA là các chuyến bay có origin là "SEA", tạo biến điều kiện lọc thứ hai filterB là các chuyến bay có dest là "PDX". Từ đó tạo dataframe kết quả selected2 từ selected1 thỏa cả filterA và filterB. Cho biết có bao nhiêu dòng thỏa mãn.

In [34]:
selected1 = flights.select('origin','dest','carrier')
selected1.show(3)

+------+----+-------+
|origin|dest|carrier|
+------+----+-------+
|   SEA| LAX|     VX|
|   SEA| HNL|     AS|
|   SEA| SFO|     VX|
+------+----+-------+
only showing top 3 rows

In [50]:
filterA = selected1.origin == 'SEA'
filterB = selected1.dest == 'PDX'

In [52]:
selected2 = selected1.filter(filterA & filterB)

In [53]:
selected2.show(3)

+------+----+-------+
|origin|dest|carrier|
+------+----+-------+
|   SEA| PDX|     OO|
|   SEA| PDX|     OO|
|   SEA| PDX|     OO|
+------+----+-------+
only showing top 3 rows

In [54]:
selected2.count()

157

### 9. Tạo biến avg_speed (alias'avg_speed') là tốc độ trung bình của chuyến bay (tính theo giờ) distance/(air_time/60). Tạo dataframe speed1 từ flights với các cột *origin, dest, tailnum,avg_speed*

In [55]:
flights.columns

['year',
 'month',
 'day',
 'dep_time',
 'dep_delay',
 'arr_time',
 'arr_delay',
 'carrier',
 'tailnum',
 'flight',
 'origin',
 'dest',
 'air_time',
 'distance',
 'hour',
 'minute',
 'duration_hrs']

In [75]:
avg_speed = (flights.distance/(flights.air_time/60)).alias('avg_speed')

In [76]:
speed1 = flights.select('origin','dest','tailnum',avg_speed)

In [77]:
speed1.show(3)

+------+----+-------+------------------+
|origin|dest|tailnum|         avg_speed|
+------+----+-------+------------------+
|   SEA| LAX| N846VA| 433.6363636363636|
|   SEA| HNL| N559AS| 446.1666666666667|
|   SEA| SFO| N847VA|367.02702702702703|
+------+----+-------+------------------+
only showing top 3 rows

### 10. Tạo dataframe speed2 từ flights với *origin,dest, tailnum* và cột avg_speed trong cũng một lênh select

In [82]:
speed2 = flights.select('origin','dest','tailnum', (flights.distance/(flights.air_time/60)).alias('avg_speed'))
speed2.show()

+------+----+-------+------------------+
|origin|dest|tailnum|         avg_speed|
+------+----+-------+------------------+
|   SEA| LAX| N846VA| 433.6363636363636|
|   SEA| HNL| N559AS| 446.1666666666667|
|   SEA| SFO| N847VA|367.02702702702703|
|   PDX| SJC| N360SW| 411.3253012048193|
|   SEA| BUR| N612AS| 442.6771653543307|
|   PDX| DEN| N646SW|491.40495867768595|
|   PDX| OAK| N422WN|             362.0|
|   SEA| SFO| N361VA| 415.7142857142857|
|   SEA| SAN| N309AS| 466.6666666666667|
|   SEA| ORD| N564AS| 521.5151515151515|
|   SEA| LAX| N323AS| 440.3076923076923|
|   SEA| PHX| N305AS|431.29870129870125|
|   SEA| LAS| N433AS| 409.6062992125984|
|   SEA| ANC| N765AS|474.75409836065575|
|   SEA| SFO| N713AS| 315.8139534883721|
|   PDX| SFO| N27205| 366.6666666666667|
|   SEA| SMF| N626AS|477.63157894736844|
|   SEA| MDW| N8634A|481.38888888888886|
|   SEA| BOS| N597AS| 516.4137931034483|
|   PDX| BUR| N215AG| 441.6216216216216|
+------+----+-------+------------------+
only showing top 20 rows

### 11. Sử dụng aggregation method tìm air_time nhỏ nhất của chuyến bay có origin  là 'PDX' . Tìm distance lớn nhất của chuyển bay có origin là 'SEA'. Tìm tổng duration các chuyến bay theo giờ

In [125]:
flights.select('air_time').count()

10000

In [134]:
flights.printSchema()

root
 |-- year: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- day: integer (nullable = true)
 |-- dep_time: string (nullable = true)
 |-- dep_delay: string (nullable = true)
 |-- arr_time: string (nullable = true)
 |-- arr_delay: string (nullable = true)
 |-- carrier: string (nullable = true)
 |-- tailnum: string (nullable = true)
 |-- flight: integer (nullable = true)
 |-- origin: string (nullable = true)
 |-- dest: string (nullable = true)
 |-- air_time: float (nullable = true)
 |-- distance: integer (nullable = true)
 |-- hour: string (nullable = true)
 |-- minute: string (nullable = true)
 |-- duration_hrs: double (nullable = true)

In [131]:
# nhận thấy cột air_time hiện đang là string, ta chuyển sang định dạng float
flights = flights.withColumn('air_time',flights.air_time.cast('float'))

In [133]:
flights.filter(flights.origin =='PDX').agg({'air_time':'min'}).show()

+-------------+
|min(air_time)|
+-------------+
|         24.0|
+-------------+

In [88]:
flights.filter(flights.origin == 'SEA').agg({'distance':'max'}).show()

+-------------+
|max(distance)|
+-------------+
|         2724|
+-------------+

In [135]:
flights.agg({'duration_hrs':'sum'}).show()

+------------------+
| sum(duration_hrs)|
+------------------+
|25289.600000000126|
+------------------+

### 12. Nhóm dữ liệu và đếm số chuyến bay theo từng 'tailnum'; nhóm dữ liệu và đếm số chuyến bay theo tưng 'origin' ; nhóm dữ liệu và tính trung bình của air_time theo từng 'origin'

In [138]:
flights.groupby('tailnum').count().show()

+-------+-----+
|tailnum|count|
+-------+-----+
| N442AS|   38|
| N102UW|    2|
| N36472|    4|
| N38451|    4|
| N73283|    4|
| N513UA|    2|
| N954WN|    5|
| N388DA|    3|
| N567AA|    1|
| N516UA|    2|
| N927DN|    1|
| N8322X|    1|
| N466SW|    1|
|  N6700|    1|
| N607AS|   45|
| N622SW|    4|
| N584AS|   31|
| N914WN|    4|
| N654AW|    2|
| N336NW|    1|
+-------+-----+
only showing top 20 rows

In [140]:
flights.groupBy('origin').count().show()

+------+-----+
|origin|count|
+------+-----+
|   SEA| 6754|
|   PDX| 3246|
+------+-----+

In [141]:
flights.groupBy('origin').agg({'air_time':'mean'}).show()

+------+------------------+
|origin|     avg(air_time)|
+------+------------------+
|   SEA| 160.4361496051259|
|   PDX|137.11543248288737|
+------+------------------+

### 13. Nhóm các chuyến bay theo 'month', 'dest' => by_month_dest. Tính trung bình 'dep_delay' theo by_month_dest. Tính std 'dep_delay' theo by_month_dest

In [144]:
by_month_dest = flights.groupby('month','dest')

In [146]:
by_month_dest.agg({'dep_delay':'mean'}).show()

+-----+----+-------------------+
|month|dest|     avg(dep_delay)|
+-----+----+-------------------+
|    4| PHX| 1.6833333333333333|
|    1| RDM|             -1.625|
|    5| ONT| 3.5555555555555554|
|    7| OMA|               -6.5|
|    8| MDW|               7.45|
|    6| DEN|  5.418181818181818|
|    5| IAD|               -4.0|
|   12| COS|               -1.0|
|   11| ANC|  7.529411764705882|
|    5| AUS|              -0.75|
|    5| COS| 11.666666666666666|
|    2| PSP|                0.6|
|    4| ORD|0.14285714285714285|
|   10| DFW| 18.176470588235293|
|   10| DCA|               -1.5|
|    8| JNU|             18.125|
|   11| KOA|               -1.0|
|   10| OMA|-0.6666666666666666|
|    6| ONT|              9.625|
|    3| MSP|                3.2|
+-----+----+-------------------+
only showing top 20 rows

In [147]:
by_month_dest.agg({'dep_delay':'std'}).show()

+-----+----+------------------+
|month|dest| stddev(dep_delay)|
+-----+----+------------------+
|    4| PHX|15.003380033491737|
|    1| RDM| 8.830749846821778|
|    5| ONT|18.895178691342874|
|    7| OMA|2.1213203435596424|
|    8| MDW|14.467659032985843|
|    6| DEN|13.536905534420026|
|    5| IAD|3.8078865529319543|
|   12| COS|1.4142135623730951|
|   11| ANC|18.604716401245316|
|    5| AUS| 4.031128874149275|
|    5| COS| 33.38163167571851|
|    2| PSP| 4.878524367060187|
|    4| ORD|11.593882803741764|
|   10| DFW| 45.53019017606675|
|   10| DCA|0.7071067811865476|
|    8| JNU| 40.79368823727514|
|   11| KOA|1.8708286933869707|
|   10| OMA|5.8594652770823155|
|    6| ONT| 25.98316762829351|
|    3| MSP|21.556779370817555|
+-----+----+------------------+
only showing top 20 rows

### 14. Đọc tập tin airport.csv vào airports. In schema của airports. Hiển thị 3 dòng đâuù và cho biết có bao nhiêu daongf

In [150]:
airports = spark.read.csv('airports.csv',inferSchema=True,header=True)
airports.show(3)
print('Number of lines:', airports.count())

+---+--------------------+----------+-----------+----+---+---+
|faa|                name|       lat|        lon| alt| tz|dst|
+---+--------------------+----------+-----------+----+---+---+
|04G|   Lansdowne Airport|41.1304722|-80.6195833|1044| -5|  A|
|06A|Moton Field Munic...|32.4605722|-85.6800278| 264| -5|  A|
|06C| Schaumburg Regional|41.9893408|-88.1012428| 801| -6|  A|
+---+--------------------+----------+-----------+----+---+---+
only showing top 3 rows

Number of lines: 1397

### 15. Đổi tên cột faa thành dest

In [152]:
airports = airports.withColumnRenamed('faa','dest')

### 16. Tạo một dataframe mới bằng kết hợp flights và airports theo dest

In [155]:
flights.select('dest').distinct().show()

+----+
|dest|
+----+
| MSY|
| GEG|
| BUR|
| SNA|
| EUG|
| OAK|
| DCA|
| RDM|
| KTN|
| LIH|
| IAH|
| HNL|
| SJC|
| CVG|
| AUS|
| LGB|
| RNO|
| BOS|
| EWR|
| LAS|
+----+
only showing top 20 rows

In [156]:
airports.select('dest').distinct().show()

+----+
|dest|
+----+
| BGM|
| FMY|
| HYL|
| LEB|
| OXC|
| RKP|
| 4A7|
| AVX|
| DLG|
| ELI|
| INL|
| OLF|
| TYE|
| FRN|
| MSY|
| RDG|
| 1CS|
| CDW|
| DRT|
| DWS|
+----+
only showing top 20 rows

In [159]:
flights.join(airports,on='dest',how= 'leftouter').show()

+----+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+--------+--------+----+------+------------------+--------------------+---------+-----------+----+---+---+
|dest|year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|air_time|distance|hour|minute|      duration_hrs|                name|      lat|        lon| alt| tz|dst|
+----+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+--------+--------+----+------+------------------+--------------------+---------+-----------+----+---+---+
| LAX|2014|   12|  8|     658|       -7|     935|       -5|     VX| N846VA|  1780|   SEA|   132.0|     954|   6|    58|               2.2|    Los Angeles Intl|33.942536|-118.408075| 126| -8|  A|
| HNL|2014|    1| 22|    1040|        5|    1505|        5|     AS| N559AS|   851|   SEA|   360.0|    2677|  10|    40|               6.0|       Honolulu Intl|21.318681|-157.922428|  13|-10|  N|
| SFO|2014|    3|  9|    1443|       -2|    1652|        2|     VX| N847VA|   755|   SEA|   111.0|     679|  14|    43|              1.85|  San Francisco Intl|37.618972|-122.374889|  13| -8|  A|
| SJC|2014|    4|  9|    1705|       45|    1839|       34|     WN| N360SW|   344|   PDX|    83.0|     569|  17|     5|1.3833333333333333|Norman Y Mineta S...|  37.3626|-121.929022|  62| -8|  A|
| BUR|2014|    3|  9|     754|       -1|    1015|        1|     AS| N612AS|   522|   SEA|   127.0|     937|   7|    54|2.1166666666666667|            Bob Hope|34.200667|-118.358667| 778| -8|  A|
| DEN|2014|    1| 15|    1037|        7|    1352|        2|     WN| N646SW|    48|   PDX|   121.0|     991|  10|    37|2.0166666666666666|         Denver Intl|39.861656|-104.673178|5431| -7|  A|
| OAK|2014|    7|  2|     847|       42|    1041|       51|     WN| N422WN|  1520|   PDX|    90.0|     543|   8|    47|               1.5|Metropolitan Oakl...|37.721278|-122.220722|   9| -8|  A|
| SFO|2014|    5| 12|    1655|       -5|    1842|      -18|     VX| N361VA|   755|   SEA|    98.0|     679|  16|    55|1.6333333333333333|  San Francisco Intl|37.618972|-122.374889|  13| -8|  A|
| SAN|2014|    4| 19|    1236|       -4|    1508|       -7|     AS| N309AS|   490|   SEA|   135.0|    1050|  12|    36|              2.25|      San Diego Intl|32.733556|-117.189667|  17| -8|  A|
| ORD|2014|   11| 19|    1812|       -3|    2352|       -4|     AS| N564AS|    26|   SEA|   198.0|    1721|  18|    12|               3.3|  Chicago Ohare Intl|41.978603| -87.904842| 668| -6|  A|
| LAX|2014|   11|  8|    1653|       -2|    1924|       -1|     AS| N323AS|   448|   SEA|   130.0|     954|  16|    53|2.1666666666666665|    Los Angeles Intl|33.942536|-118.408075| 126| -8|  A|
| PHX|2014|    8|  3|    1120|        0|    1415|        2|     AS| N305AS|   656|   SEA|   154.0|    1107|  11|    20| 2.566666666666667|Phoenix Sky Harbo...|33.434278|-112.011583|1135| -7|  N|
| LAS|2014|   10| 30|     811|       21|    1038|       29|     AS| N433AS|   608|   SEA|   127.0|     867|   8|    11|2.1166666666666667|      Mc Carran Intl|36.080056| -115.15225|2141| -8|  A|
| ANC|2014|   11| 12|    2346|       -4|     217|      -28|     AS| N765AS|   121|   SEA|   183.0|    1448|  23|    46|              3.05|Ted Stevens Ancho...|61.174361|-149.996361| 152| -9|  A|
| SFO|2014|   10| 31|    1314|       89|    1544|      111|     AS| N713AS|   306|   SEA|   129.0|     679|  13|    14|              2.15|  San Francisco Intl|37.618972|-122.374889|  13| -8|  A|
| SFO|2014|    1| 29|    2009|        3|    2159|        9|     UA| N27205|  1458|   PDX|    90.0|     550|  20|     9|               1.5|  San Francisco Intl|37.618972|-122.374889|  13| -8|  A|
| SMF|2014|   12| 17|    2015|       50|    2150|       41|     AS| N626AS|   368|   SEA|    76.0|     605|  20|    15|1.2666666666666666|     Sacramento Intl|38.695417|-121.590778|  27| -8|  A|
| MDW|2014|    8| 11|    1017|       -3|    1613|       -7|     WN| N8634A|   827|   SEA|   216.0|    1733|  10|    17|               3.6| Chicago Midway Intl|41.785972| -87.752417| 620| -6|  A|
| BOS|2014|    1| 13|    2156|       -9|     607|      -15|     AS| N597AS|    24|   SEA|   290.0|    2496|  21|    56| 4.833333333333333|General Edward La...|42.364347| -71.005181|  19| -5|  A|
| BUR|2014|    6|  5|    1733|      -12|    1945|      -10|     OO| N215AG|  3488|   PDX|   111.0|     817|  17|    33|              1.85|            Bob Hope|34.200667|-118.358667| 778| -8|  A|
+----+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+--------+--------+----+------+------------------+--------------------+---------+-----------+----+---+---+
only showing top 20 rows