In [1]:
import findspark
findspark.init()

In [2]:
from pyspark import SparkContext
from pyspark.sql import SparkSession

In [3]:
sc = SparkContext(master ='local',appName='Ex3')
spark = SparkSession(sc)

### Data Explore

In [4]:
data = spark.read.csv('./kdd_data/kddcup.data_10_percent.gz',inferSchema=True,header= False)

In [5]:
data.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: integer (nullable = true)
 |-- _c5: integer (nullable = true)
 |-- _c6: integer (nullable = true)
 |-- _c7: integer (nullable = true)
 |-- _c8: integer (nullable = true)
 |-- _c9: integer (nullable = true)
 |-- _c10: integer (nullable = true)
 |-- _c11: integer (nullable = true)
 |-- _c12: integer (nullable = true)
 |-- _c13: integer (nullable = true)
 |-- _c14: integer (nullable = true)
 |-- _c15: integer (nullable = true)
 |-- _c16: integer (nullable = true)
 |-- _c17: integer (nullable = true)
 |-- _c18: integer (nullable = true)
 |-- _c19: integer (nullable = true)
 |-- _c20: integer (nullable = true)
 |-- _c21: integer (nullable = true)
 |-- _c22: integer (nullable = true)
 |-- _c23: integer (nullable = true)
 |-- _c24: double (nullable = true)
 |-- _c25: double (nullable = true)
 |-- _c26: double (nullable = true)
 |-- _c27: double (nullable = true)
 |-- _c28: double (nullable = true)
 |-- _c29: double (nullable = true)
 |-- _c30: double (nullable = true)
 |-- _c31: integer (nullable = true)
 |-- _c32: integer (nullable = true)
 |-- _c33: double (nullable = true)
 |-- _c34: double (nullable = true)
 |-- _c35: double (nullable = true)
 |-- _c36: double (nullable = true)
 |-- _c37: double (nullable = true)
 |-- _c38: double (nullable = true)
 |-- _c39: double (nullable = true)
 |-- _c40: double (nullable = true)
 |-- _c41: string (nullable = true)

In [6]:
data.toPandas().head(3)

,_c0,_c1,_c2,_c3,_c4,_c5,_c6,_c7,_c8,_c9,...,_c32,_c33,_c34,_c35,_c36,_c37,_c38,_c39,_c40,_c41
0,0,tcp,http,SF,181,5450,0,0,0,0,...,9,1.0,0.0,0.11,0.0,0.0,0.0,0.0,0.0,normal.
1,0,tcp,http,SF,239,486,0,0,0,0,...,19,1.0,0.0,0.05,0.0,0.0,0.0,0.0,0.0,normal.
2,0,tcp,http,SF,235,1337,0,0,0,0,...,29,1.0,0.0,0.03,0.0,0.0,0.0,0.0,0.0,normal.

### Pre-processing

##### Check dữ liệu thiếu

In [7]:
from pyspark.sql.functions import when, col, count, isnan,isnull

In [8]:
data.select([count(when(isnan(col),col)).alias(col) for col in data.columns]).toPandas().T

      0
_c0   0
_c1   0
_c2   0
_c3   0
_c4   0
_c5   0
_c6   0
_c7   0
_c8   0
_c9   0
_c10  0
_c11  0
_c12  0
_c13  0
_c14  0
_c15  0
_c16  0
_c17  0
_c18  0
_c19  0
_c20  0
_c21  0
_c22  0
_c23  0
_c24  0
_c25  0
_c26  0
_c27  0
_c28  0
_c29  0
_c30  0
_c31  0
_c32  0
_c33  0
_c34  0
_c35  0
_c36  0
_c37  0
_c38  0
_c39  0
_c40  0
_c41  0

In [9]:
data.select([count(when(isnull(col),col)).alias(col) for col in data.columns]).toPandas().T

      0
_c0   0
_c1   0
_c2   0
_c3   0
_c4   0
_c5   0
_c6   0
_c7   0
_c8   0
_c9   0
_c10  0
_c11  0
_c12  0
_c13  0
_c14  0
_c15  0
_c16  0
_c17  0
_c18  0
_c19  0
_c20  0
_c21  0
_c22  0
_c23  0
_c24  0
_c25  0
_c26  0
_c27  0
_c28  0
_c29  0
_c30  0
_c31  0
_c32  0
_c33  0
_c34  0
_c35  0
_c36  0
_c37  0
_c38  0
_c39  0
_c40  0
_c41  0

**Nhận xét:**
Dữ liệu không bị thiếu

##### Check dữ liệu trùng lặp

In [10]:
duplicate_row = data.count()-data.distinct().count()

In [11]:
print('Số lượng cột trùng lặp: ',duplicate_row)

Số lượng cột trùng lặp:  348435

In [12]:
#data = data.drop_duplicates()

##### Data Scaling

### Train - Test Data preparation

In [13]:
from pyspark.ml.linalg import Vectors
from pyspark.ml.feature import VectorAssembler,StringIndexer,OneHotEncoder
from pyspark.ml.classification import DecisionTreeClassifier
from pyspark.ml.classification import RandomForestClassifier
from pyspark.ml.classification import GBTClassifier

In [14]:
train_data, test_data = data.randomSplit([0.7,0.3])

In [15]:
indexer_1 = StringIndexer(inputCol='_c1',outputCol='c1_indexer')
indexer_2 = StringIndexer(inputCol='_c2',outputCol='c2_indexer')
indexer_3 = StringIndexer(inputCol='_c3',outputCol='c3_indexer')
indexer_41 = StringIndexer(inputCol='_c41',outputCol='c41_indexer')

In [16]:
assemble = VectorAssembler(inputCols=['_c0',
 'c1_indexer','c2_indexer','c3_indexer',
 '_c4',
 '_c5',
 '_c6',
 '_c7',
 '_c8',
 '_c9',
 '_c10',
 '_c11',
 '_c12',
 '_c13',
 '_c14',
 '_c15',
 '_c16',
 '_c17',
 '_c18',
 '_c19',
 '_c20',
 '_c21',
 '_c22',
 '_c23',
 '_c24',
 '_c25',
 '_c26',
 '_c27',
 '_c28',
 '_c29',
 '_c30',
 '_c31',
 '_c32',
 '_c33',
 '_c34',
 '_c35',
 '_c36',
 '_c37',
 '_c38',
 '_c39',
 '_c40'],outputCol='features')

In [17]:
tree_clf = DecisionTreeClassifier(labelCol='c41_indexer')

In [18]:
from pyspark.ml import Pipeline

In [19]:
pipeline = Pipeline(stages=[indexer_1,indexer_2,indexer_3,indexer_41,assemble,tree_clf])

In [20]:
#train data
pipeline.fit(train_data)

IllegalArgumentException: requirement failed: DecisionTree requires maxBins (= 32) to be at least as large as the number of values in each categorical feature, but categorical feature 2 has 65 values. Consider removing this and other categorical features with a large number of values, or add more training examples.

In [ ]:
#prediction
prediction = pipeline.transform(test_data)