In [1]:
import findspark
findspark.init()

In [2]:
from pyspark import SparkContext
from pyspark.sql import SparkSession

In [3]:
sc = SparkContext(master='local',appName='Ex1')
spark = SparkSession(sc)

### 1. Đọc dữ liệu => df

In [13]:
df = spark.read.csv('./DallasCouncilVotes.csv',inferSchema=True,header=True)
df = df.select('DATE','TITLE','VOTER NAME')

### 2.Dữ liệu bao nhiêu dòng, in schema. Hiển thị 5 dòng đầu tiên

In [14]:
df.count()

44625

In [15]:
df.printSchema()

root
 |-- DATE: string (nullable = true)
 |-- TITLE: string (nullable = true)
 |-- VOTER NAME: string (nullable = true)

In [16]:
df.show(5)

+----------+-------------+-------------------+
|      DATE|        TITLE|         VOTER NAME|
+----------+-------------+-------------------+
|02/08/2017|Councilmember|  Jennifer S. Gates|
|02/08/2017|Councilmember| Philip T. Kingston|
|02/08/2017|        Mayor|Michael S. Rawlings|
|02/08/2017|Councilmember|       Adam Medrano|
|02/08/2017|Councilmember|   Casey Thomas, II|
+----------+-------------+-------------------+
only showing top 5 rows

### 3. Kiểm tra dữ liệu Nan, Null. Nếu dòng nào 'VOTER_NAME' có dữ liệu null thì xóa hết các dòng đó

In [20]:
from pyspark.sql.functions import col, udf, isnan, when, count, isnull,

In [62]:
df.select([count(when(isnan(c),c)).alias(c) for c in df.columns]).toPandas().T

            0
DATE        0
TITLE       0
VOTER NAME  0

In [61]:
df.select([count(when(isnull(c),c)).alias(c) for c in df.columns]).toPandas().T

              0
DATE          0
TITLE       195
VOTER NAME  503

In [67]:
df = df.dropna(subset='VOTER NAME')
df.count()

44122

### 4. Kiểm tra dữ liệu trùng. Xóa dữ liệu trùng

In [73]:
#trước khi drop
df.count()

44122

In [74]:
#Các dữ liệu duy nhất
df.distinct().count()

1273

In [75]:
df = df.drop_duplicates()

In [76]:
df.count()

1273

### 5. Tìm các VOTER_NAME duy nhất và hiển thị 10 thông tin đầu tiên

In [90]:
df.select('VOTER NAME').distinct().show(5)

+--------------------+
|          VOTER NAME|
+--------------------+
|      Tennell Atkins|
|  the  final   20...|
|        Scott Griggs|
|       Scott  Griggs|
|       Sandy Greyson|
+--------------------+
only showing top 5 rows

### 6. Lọc dữ liệu VOTER NAME có chiều dài từ 1 - 20

In [100]:
from pyspark.sql.functions import length

In [103]:
df.filter((length('VOTER NAME') < 20)&(length('VOTER NAME')>1)).show(5)

+----------+--------------------+----------------+
|      DATE|               TITLE|      VOTER NAME|
+----------+--------------------+----------------+
|04/11/2018|Deputy Mayor Pro Tem|    Adam Medrano|
|02/14/2018|       Councilmember| Lee M. Kleinman|
|04/25/2018|       Councilmember|  Tennell Atkins|
|08/29/2018|       Councilmember|    Kevin Felder|
|08/16/2017|       Councilmember|Casey Thomas, II|
+----------+--------------------+----------------+
only showing top 5 rows

### 7. Loại bỏ các dữ liệu trong "VOTER NAME" chứ dấu '_'

In [97]:
df.select('VOTER NAME').filter(col('VOTER NAME').contains('_')).show()

+----------+
|VOTER NAME|
+----------+
|011018__42|
+----------+

In [98]:
df = df.filter(~col('VOTER NAME').contains('_'))

### 8. Tạo cột splits chứa thông tin cắt theo khoảng trắng 'VOTER NAME'

In [119]:
from pyspark.sql.functions import split,size

In [105]:
splits = split(df['VOTER NAME'],' ')

In [109]:
df = df.withColumn('splits',splits)

In [110]:
df[['splits']].show()

+--------------------+
|              splits|
+--------------------+
|     [Adam, Medrano]|
| [Lee, M., Kleinman]|
|   [Tennell, Atkins]|
|     [Kevin, Felder]|
|[Casey, Thomas,, II]|
|[Jennifer, S., , ...|
|  [Sandy, , Greyson]|
|     [Omar, Narvaez]|
|[Michael, S., Raw...|
|[, , the, , final...|
|  [Sandy, , Greyson]|
|    [Sandy, Greyson]|
|[Monica, R., Alonzo]|
|[Tiffinni, A., Yo...|
|[Rickey, D., , Ca...|
|   [Tennell, Atkins]|
|  [Sandy, , Greyson]|
|     [Adam, Medrano]|
|[Michael, S., Raw...|
|[Tiffinni, A., Yo...|
+--------------------+
only showing top 20 rows

### 9. Tạo cột first_name lấy dữ liệu từ phần tử đầu tiên trong cột splits

In [114]:
df = df.withColumn('first_name',splits[0])
df[['VOTER NAME','first_name']].show()

+--------------------+----------+
|          VOTER NAME|first_name|
+--------------------+----------+
|        Adam Medrano|      Adam|
|     Lee M. Kleinman|       Lee|
|      Tennell Atkins|   Tennell|
|        Kevin Felder|     Kevin|
|    Casey Thomas, II|     Casey|
|  Jennifer S.  Gates|  Jennifer|
|      Sandy  Greyson|     Sandy|
|        Omar Narvaez|      Omar|
| Michael S. Rawlings|   Michael|
|  the  final   20...|          |
|      Sandy  Greyson|     Sandy|
|       Sandy Greyson|     Sandy|
|    Monica R. Alonzo|    Monica|
|   Tiffinni A. Young|  Tiffinni|
| Rickey D.  Callahan|    Rickey|
|      Tennell Atkins|   Tennell|
|      Sandy  Greyson|     Sandy|
|        Adam Medrano|      Adam|
| Michael S. Rawlings|   Michael|
|   Tiffinni A. Young|  Tiffinni|
+--------------------+----------+
only showing top 20 rows

### 10. Tạo cột last_name lấy dữ liệu từ phần tử cuối trong cột splits

In [120]:
df = df.withColumn('last_name',df.splits.getItem(size('splits')-1))
df[['VOTER NAME','last_name']].show()

+--------------------+---------+
|          VOTER NAME|last_name|
+--------------------+---------+
|        Adam Medrano|  Medrano|
|     Lee M. Kleinman| Kleinman|
|      Tennell Atkins|   Atkins|
|        Kevin Felder|   Felder|
|    Casey Thomas, II|       II|
|  Jennifer S.  Gates|    Gates|
|      Sandy  Greyson|  Greyson|
|        Omar Narvaez|  Narvaez|
| Michael S. Rawlings| Rawlings|
|  the  final   20...| District|
|      Sandy  Greyson|  Greyson|
|       Sandy Greyson|  Greyson|
|    Monica R. Alonzo|   Alonzo|
|   Tiffinni A. Young|    Young|
| Rickey D.  Callahan| Callahan|
|      Tennell Atkins|   Atkins|
|      Sandy  Greyson|  Greyson|
|        Adam Medrano|  Medrano|
| Michael S. Rawlings| Rawlings|
|   Tiffinni A. Young|    Young|
+--------------------+---------+
only showing top 20 rows

### 11. tạo cột 'random_val' theo điều kiện: nếu cột TITLE có nội dung Councilmember thì có giá trị rand(), Mayor thì giá trị 2, ngược lại là 0

In [123]:
from pyspark.sql.functions import rand,when

In [128]:
df = df.withColumn('random_val', when(df.TITLE == 'Councilmember',rand())
                                .when(df.TITLE == 'Mayor',2)
                                .otherwise(0))

### 12. Lọc các dữ liệu có 'random_val' = 0

In [129]:
df.filter(df.random_val == 0).show(5)

+--------------------+--------------------+--------------------+--------------------+----------+---------+----------+
|                DATE|               TITLE|          VOTER NAME|              splits|first_name|last_name|random_val|
+--------------------+--------------------+--------------------+--------------------+----------+---------+----------+
|          04/11/2018|Deputy Mayor Pro Tem|        Adam Medrano|     [Adam, Medrano]|      Adam|  Medrano|       0.0|
|A public hearing ...| authorize an  or...|  the  final   20...|[, , the, , final...|          | District|       0.0|
|          04/12/2017|       Mayor Pro Tem|    Monica R. Alonzo|[Monica, R., Alonzo]|    Monica|   Alonzo|       0.0|
|          06/28/2017|Deputy Mayor Pro Tem|        Adam Medrano|     [Adam, Medrano]|      Adam|  Medrano|       0.0|
|          01/03/2018|Deputy Mayor Pro Tem|        Adam Medrano|     [Adam, Medrano]|      Adam|  Medrano|       0.0|
+--------------------+--------------------+--------------------+--------------------+----------+---------+----------+
only showing top 5 rows

### 13. Xây dựng function: getFirstAndMiddle(names) trả về kết quả gồm First và Middle. Khai báo function vừa viết dưới dạng udf đặt tên là udfFirstAndMiddle.

In [146]:
def getFirstAndMiddle(names):
    splits = names.split(' ')
    return ' '.join(splits[:-1])

In [147]:
from pyspark.sql.types import ArrayType,StringType

In [148]:
udfFirstAndMiddle = udf(getFirstAndMiddle,StringType())

In [153]:
df = df.withColumn('First and Middle', udfFirstAndMiddle(col('VOTER NAME')))

### 15. Xóa các cột first_name và split

In [155]:
df = df.drop('first_name','splits')
df.show(5)

+----------+--------------------+----------------+---------+-------------------+----------------+
|      DATE|               TITLE|      VOTER NAME|last_name|         random_val|First and Middle|
+----------+--------------------+----------------+---------+-------------------+----------------+
|04/11/2018|Deputy Mayor Pro Tem|    Adam Medrano|  Medrano|                0.0|            Adam|
|02/14/2018|       Councilmember| Lee M. Kleinman| Kleinman|0.06973589367492794|          Lee M.|
|04/25/2018|       Councilmember|  Tennell Atkins|   Atkins| 0.8115915186595951|         Tennell|
|08/29/2018|       Councilmember|    Kevin Felder|   Felder| 0.2985840903653585|           Kevin|
|08/16/2017|       Councilmember|Casey Thomas, II|       II| 0.9883920966590523|   Casey Thomas,|
+----------+--------------------+----------------+---------+-------------------+----------------+
only showing top 5 rows

### 16. Thêm cột ROW_ID bằng phương thức: monotonically_increasing_id()

In [156]:
from pyspark.sql.functions import monotonically_increasing_id

In [159]:
df = df.withColumn('ROW_ID',monotonically_increasing_id())

### 17. Show 10 ID cao nhất

In [ ]:
df.orderBy(df.ROW_ID.desc()).show(10)